<!DOCTYPE html>
<html xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org">
<body>
<div class="container">
    <div class="reviews-wrap">
        <div class="reviewscar-wrap">
            <div class="swiper-container reviewscar">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <p>Sống là phải chơi</p>
                    </div>
                    <div class="swiper-slide">
                        <p>Học không chơi đánh rơi tuổi trẻ</p>
                    </div>
                    <div class="swiper-slide">
                        <p>Chơi không học rơi mất tuổi thanh xuân</p>
                    </div>
                    <div class="swiper-slide">
                        <p>Sống là phải chơi</p>
                    </div>
                    <div class="swiper-slide">
                        <p>Học không chơi đánh rơi tuổi trẻ</p>
                    </div>
                    <div class="swiper-slide">
                        <p>Chơi không học rơi mất tuổi thanh xuân</p>
                    </div>
                    <div class="swiper-slide">
                        <p>Sống là phải chơi</p>
                    </div>
                    <div class="swiper-slide">
                        <p>Học không chơi đánh rơi tuổi trẻ</p>
                    </div>
                    <div class="swiper-slide">
                        <p>Chơi không học rơi mất tuổi thanh xuân</p>
                    </div>
                </div>
            </div>
            <div class="swiper-container reviewscar-thumbs">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="http://placehold.it/120x120" alt="Aureole Jayde">
                        <h3 class="reviewscar-ttl"><a href="reviews.html">Phạm Tiến Duật</a></h3>
                        <p class="reviewscar-post">Giáo sư</p>
                    </div>
                    <div class="swiper-slide">
                        <img src="http://placehold.it/120x120" alt="Benjy Darrin">
                        <h3 class="reviewscar-ttl"><a href="reviews.html">Nguyễn Văn Sơn</a></h3>
                        <p class="reviewscar-post">Nhân viên</p>
                    </div>
                    <div class="swiper-slide">
                        <img src="http://placehold.it/120x120" alt="Jeni Margie">
                        <h3 class="reviewscar-ttl"><a href="reviews.html">Hoàng Trọng Bình</a></h3>
                        <p class="reviewscar-post">Nhà phát triển</p>
                    </div>
                    <div class="swiper-slide">
                        <img src="http://placehold.it/120x120" alt="Aureole Jayde">
                        <h3 class="reviewscar-ttl"><a href="reviews.html">Phạm Tiến Duật</a></h3>
                        <p class="reviewscar-post">Giáo sư</p>
                    </div>
                    <div class="swiper-slide">
                        <img src="http://placehold.it/120x120" alt="Benjy Darrin">
                        <h3 class="reviewscar-ttl"><a href="reviews.html">Nguyễn Văn Sơn</a></h3>
                        <p class="reviewscar-post">Nhân viên</p>
                    </div>
                    <div class="swiper-slide">
                        <img src="http://placehold.it/120x120" alt="Jeni Margie">
                        <h3 class="reviewscar-ttl"><a href="reviews.html">Hoàng Trọng Bình</a></h3>
                        <p class="reviewscar-post">Nhà phát triển</p>
                    </div>
                    <div class="swiper-slide">
                        <img src="http://placehold.it/120x120" alt="Aureole Jayde">
                        <h3 class="reviewscar-ttl"><a href="reviews.html">Phạm Tiến Duật</a></h3>
                        <p class="reviewscar-post">Giáo sư</p>
                    </div>
                    <div class="swiper-slide">
                        <img src="http://placehold.it/120x120" alt="Benjy Darrin">
                        <h3 class="reviewscar-ttl"><a href="reviews.html">Nguyễn Văn Sơn</a></h3>
                        <p class="reviewscar-post">Nhân viên</p>
                    </div>
                    <div class="swiper-slide">
                        <img src="http://placehold.it/120x120" alt="Jeni Margie">
                        <h3 class="reviewscar-ttl"><a href="reviews.html">Hoàng Trọng Bình</a></h3>
                        <p class="reviewscar-post">Nhà phát triển</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>