<!DOCTYPE html>
<html xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org">
<body>
<li class="prod-rel-wrap" th:fragment="">
     <div class="prod-rel">
          <a href="product.html" class="prod-rel-img">
               <img src="img/catalog-gallery/1/1.jpg" alt="Adipisci aperiam commodi">
          </a>
          <div class="prod-rel-cont">
               <h3><a href="product.html">Adipisci aperiam commodi</a></h3>
               <p class="prod-rel-price">
                    <b>$59</b>
               </p>
               <div class="prod-rel-actions">
                    <a title="Wishlist" href="#" class="prod-rel-favorites"><i class="fa fa-heart"></i></a>
                    <a title="Compare" href="#" class="prod-rel-compare"><i class="fa fa-bar-chart"></i></a>
                    <p class="prod-i-addwrap">
                         <a title="Add to cart" href="#" class="prod-i-add"><i class="fa fa-shopping-cart"></i></a>
                    </p>
               </div>
          </div>
     </div>
</li>

</body>
</html>