<!DOCTYPE html>
<html xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org"
      layout:decorate="~{client/shared/_layout}">
<body>

<div id="all" layout:fragment="content">
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- breadcrumb-->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/Home/Index">Trang chủ</a></li>
                            <li aria-current="page" class="breadcrumb-item active">Tìm kiếm sản phẩm</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-12">
                    <h1 class="main-ttl"><span>Danh mục sản phẩm</span></h1>
                    <div class="section-sb">

                        <!-- Catalog Categories - start -->
                        <div class="section-sb-current">
                            <h3><a href="catalog-list.html">Danh mục <span id="section-sb-toggle" class="section-sb-toggle"><span class="section-sb-ico"></span></span></a></h3>
                            <ul class="section-sb-list" id="section-sb-list" th:each ="c : ${category}" style="list-style: none !important;">
                                <li class="categ-1">
                                    <a th:href="@{/book-by/by_category(id=${c.Category.id})}">
                                        <span class="categ-1-label" th:text="${c.Category.Name} + '('+${c.numberBooks}+')'"></span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <!-- Catalog Categories - end -->

                        <!-- Filter - start -->
                        <div class="section-filter">
                            <button id="section-filter-toggle" class="section-filter-toggle" data-close="Hide Filter" data-open="Show Filter">
                                <span>Show Filter</span> <i class="fa fa-angle-down"></i>
                            </button>
                            <div class="section-filter-cont">
                                <div class="section-filter-price">
                                    <div class="range-slider section-filter-price" data-min="0" data-max="10000000" data-from="0" data-to="5000000" data-prefix="VNĐ" data-grid="false"></div>
                                </div>
                                <div class="section-filter-item">
                                    <p class="section-filter-ttl">Ca sĩ <i class="fa fa-angle-down"></i></p>
                                    <div class="section-filter-fields">
                                        <p class="section-filter-field" th:each="al: ${authorlocal}">
                                            <input value="on" type="checkbox" class="authorCB" th:data-id="${al.Author.id}"  th:id="${'auth_'+al.Author.id}">
                                            <label class="section-filter-checkbox" th:for="${'auth_'+al.Author.id}"  th:text="${al.Author.Name + '  ' + al.numberBooks}"></label>
                                        </p>
                                    </div>
                                </div>
                                <div class="section-filter-item">
                                    <p class="section-filter-ttl">Nhà sản xuất <i class="fa fa-angle-down"></i></p>
                                    <div class="section-filter-fields">
                                        <p class="section-filter-field" th:each="p:${publisher}">
                                            <input value="on" type="checkbox" class="publishCB" th:data-id="${p.Publisher.id}"  th:id="${'pub_'+p.Publisher.id}">
                                            <label class="section-filter-checkbox" th:for="${'pub_'+p.Publisher.id}"  th:text="${p.Publisher.name + '(' + p.numberBooks+')'}"></label>
                                        </p>
                                    </div>
                                </div>

                                <div class="section-filter-item opened">
                                    <p class="section-filter-ttl">Màu sắc <i class="fa fa-angle-down"></i></p>
                                    <div class="section-filter-fields">
                                        <ul class="section-filter-color">
                                            <li class="active"><img src="/custom/img/color/red.jpg" alt="Red"></li>
                                            <li><img src="/custom/img/color/blue.jpg" alt="Blue"></li>
                                            <li><img src="/custom/img/color/green.jpg" alt="Green"></li>
                                            <li><img src="/custom/img/color/yellow.jpg" alt="Yellow"></li>
                                            <li><img src="/custom/img/color/purple.jpg" alt="Purple"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="section-filter-buttons">
                                    <input class="btn btn-themes" id="set_filter" name="set_filter" value="Lọc tìm kiếm" type="button">
                                    <input class="btn btn-link" id="del_filter" name="del_filter" value="Tải lại" type="button">
                                </div>
                            </div>
                        </div>
                        <!-- Filter - end -->

                    </div>
                    <!-- Catalog Sidebar - end -->
                    <!-- Catalog Items | Gallery V2 - start -->
                    <div class="section-cont">

                        <!-- Catalog Topbar - start -->
                        <div class="section-top">

                            <!-- View Mode -->
                            <ul class="section-mode">
                                <li class="section-mode-gallery active"><a title="View mode: Gallery" href="#"></a></li>
                                <li class="section-mode-list"><a title="View mode: List" href="#"></a></li>
                                <li class="section-mode-table"><a title="View mode: Table" href="#"></a></li>
                            </ul>

                            <!-- Sorting -->
                            <div class="section-sortby">
                                <p>Sắp xếp mặc định</p>
                                <ul>
                                    <li>
                                        <a href="#">Phổ biến</a>
                                    </li>
                                    <li>
                                        <a href="#">Giá thấp đến cao</a>
                                    </li>
                                    <li>
                                        <a href="#">Giá cao đến thấp</a>
                                    </li>
                                    <li>
                                        <a href="#">Sắp xếp từ A <i class="fa fa-angle-right"></i> Z</a>
                                    </li>
                                    <li>
                                        <a href="#">Sắp xếp từ Z <i class="fa fa-angle-right"></i> A</a>
                                    </li>
                                    <li>
                                        <a href="#">Sắp xếp mặc định</a>
                                    </li>
                                </ul>
                            </div>

                            <!-- Count per page -->
                            <div class="section-count">
                                <p>12</p>
                                <ul>
                                    <li><a href="#">12</a></li>
                                    <li><a href="#">24</a></li>
                                    <li><a href="#">48</a></li>
                                </ul>
                            </div>

                        </div>
                        <!-- Catalog Topbar - end -->
                        <div class="prod-items section-items prod-items-galimg" >

                            <div class="prod-i" th:each="book : ${list}">
                                <div class="prod-i-top" style="height: 400px;">
                                    <a th:href="@{/book/detail(id=${book.id})}" class="prod-i-img1">
                                         <img th:src="@{'/client/images/' + ${book.listImages[0].link}}" alt="" class="w-100">
                                    </a>
                                </div>
                                <h3>
                                    <a  th:href="@{/book/detail(id=${book.id})}" th:text="${book.name}"></a>
                                </h3>
                                <div class="prod-i-action">
                                    <p class="prod-i-info">
                                        <a href="#" class="prod-i-favorites"><span>Yêu thích</span><i class="fa fa-heart"></i></a>
                                        <a class="prod-i-compare" href="#"><span>So sánh</span><i class="fa fa-bar-chart"></i></a>
                                        <a th:href="@{/cart/add-cart(itemId = ${book.id})}" class="prod-i-buy"><span>Thêm vào giỏ</span><i class="fa fa-shopping-basket"></i></a>
                                        <a th:href="@{/book/detail(id=${book.id})}" class="qview-btn prod-i-qview"><span>Xem nhanh</span><i class="fa fa-search"></i></a>
                                        <a th:href="@{/book/detail(id=${book.id})}" class="prod-i-properties-label"><span>Chi tiết</span><i class="fa fa-info"></i></a>
                                    </p>
                                    <p class="prod-i-price">
                                        <b th:text="${#numbers.formatDecimal(book.price, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></b>
                                    </p>
                                </div>
                                <div class="prod-i-skuwrapcolor">
                                    <ul class="prod-i-skucolor">
                                        <li class="bx_active"><img src="/custom/img/color/red.jpg" alt="Red"></li>
                                        <li><img src="/custom/img/color/blue.jpg" alt="Blue"></li>
                                    </ul>
                                </div>
                            </div>


                        </div>

                        <!-- Pagination - start -->
                        <ul class="pagi">
                            <li class="active"><span>1</span></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li class="pagi-next"><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                        </ul>
                        <!-- Pagination - end -->
                    </div>
                    <!-- Catalog Items | Gallery V2 - start -->

                    <!-- Quick View Product - start -->
                    <div class="qview-modal">
                        <div class="prod-wrap">
                            <a href="product.html">
                                <h1 class="main-ttl">
                                    <span>Reprehenderit adipisci</span>
                                </h1>
                            </a>
                            <div class="prod-slider-wrap">
                                <div class="prod-slider">
                                    <ul class="prod-slider-car">
                                        <li>
                                            <a data-fancybox-group="popup-product" class="fancy-img" href="http://placehold.it/500x525">
                                                <img src="http://placehold.it/500x525" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a data-fancybox-group="popup-product" class="fancy-img" href="http://placehold.it/500x591">
                                                <img src="http://placehold.it/500x591" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a data-fancybox-group="popup-product" class="fancy-img" href="http://placehold.it/500x525">
                                                <img src="http://placehold.it/500x525" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a data-fancybox-group="popup-product" class="fancy-img" href="http://placehold.it/500x722">
                                                <img src="http://placehold.it/500x722" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a data-fancybox-group="popup-product" class="fancy-img" href="http://placehold.it/500x722">
                                                <img src="http://placehold.it/500x722" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a data-fancybox-group="popup-product" class="fancy-img" href="http://placehold.it/500x722">
                                                <img src="http://placehold.it/500x722" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a data-fancybox-group="popup-product" class="fancy-img" href="http://placehold.it/500x722">
                                                <img src="http://placehold.it/500x722" alt="">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="prod-thumbs">
                                    <ul class="prod-thumbs-car">
                                        <li>
                                            <a data-slide-index="0" href="#">
                                                <img src="http://placehold.it/500x525" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a data-slide-index="1" href="#">
                                                <img src="http://placehold.it/500x591" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a data-slide-index="2" href="#">
                                                <img src="http://placehold.it/500x525" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a data-slide-index="3" href="#">
                                                <img src="http://placehold.it/500x722" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a data-slide-index="4" href="#">
                                                <img src="http://placehold.it/500x722" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a data-slide-index="5" href="#">
                                                <img src="http://placehold.it/500x722" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a data-slide-index="6" href="#">
                                                <img src="http://placehold.it/500x722" alt="">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="prod-cont">
                                <p class="prod-actions">
                                    <a href="#" class="prod-favorites"><i class="fa fa-heart"></i> Add to Wishlist</a>
                                    <a href="#" class="prod-compare"><i class="fa fa-bar-chart"></i> Compare</a>
                                </p>
                                <div class="prod-skuwrap">
                                    <p class="prod-skuttl">Color</p>
                                    <ul class="prod-skucolor">
                                        <li class="active">
                                            <img src="img/color/blue.jpg" alt="">
                                        </li>
                                        <li>
                                            <img src="img/color/red.jpg" alt="">
                                        </li>
                                        <li>
                                            <img src="img/color/green.jpg" alt="">
                                        </li>
                                        <li>
                                            <img src="img/color/yellow.jpg" alt="">
                                        </li>
                                        <li>
                                            <img src="img/color/purple.jpg" alt="">
                                        </li>
                                    </ul>
                                    <p class="prod-skuttl">Sizes</p>
                                    <div class="offer-props-select">
                                        <p>XL</p>
                                        <ul>
                                            <li><a href="#">XS</a></li>
                                            <li><a href="#">S</a></li>
                                            <li><a href="#">M</a></li>
                                            <li class="active"><a href="#">XL</a></li>
                                            <li><a href="#">L</a></li>
                                            <li><a href="#">4XL</a></li>
                                            <li><a href="#">XXL</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="prod-info">
                                    <p class="prod-price">
                                        <b class="item_current_price">$238</b>
                                    </p>
                                    <p class="prod-qnt">
                                        <input type="text" value="1">
                                        <a href="#" class="prod-plus"><i class="fa fa-angle-up"></i></a>
                                        <a href="#" class="prod-minus"><i class="fa fa-angle-down"></i></a>
                                    </p>
                                    <p class="prod-addwrap">
                                        <a href="#" class="prod-add">Add to cart</a>
                                    </p>
                                </div>
                                <ul class="prod-i-props">
                                    <li>
                                        <b>SKU</b> 05464207
                                    </li>
                                    <li>
                                        <b>Manufacturer</b> Mayoral
                                    </li>
                                    <li>
                                        <b>Material</b> Cotton
                                    </li>
                                    <li>
                                        <b>Pattern Type</b> Print
                                    </li>
                                    <li>
                                        <b>Wash</b> Colored
                                    </li>
                                    <li>
                                        <b>Style</b> Cute
                                    </li>
                                    <li>
                                        <b>Color</b> Blue, Red
                                    </li>
                                    <li><a href="#" class="prod-showprops">All Features</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="getAuthorID" value="0">
                    <input type="hidden" id="getPublishID" value="0">
                </div>

            </div>
        </div>
    </div>
</div>

<div layout:fragment="jsFooter" >
    <script th:src="@{/client/js/controller/multiSearch.js}"></script>
    <script th:src="@{/client/js/controller/filterCustom.js}"></script>
</div>
</body>
</html>